@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom class */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Tailwind gray-300 */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
